node_modules
**/node_modules
.pnp
.pnp.js
.pnpm-store

**/dist
build
**/*.tsbuildinfo

.turbo
**/.turbo

.env
**/.env
**/.env.*
!**/.env.example

coverage
**/coverage
**/test-report.html
logs
**/logs
*.log

Dockerfile*
.dockerignore
docker-compose*.yml
docker-bake.hcl
.github

.git
.gitignore
.gitattributes
.vscode
.idea
.DS_Store
Thumbs.db

docs
*.md
LICENSE

**/vite.config.*.timestamp-*
.vite
**/.vite
