POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=55432
POSTGRES_USER=pantry
POSTGRES_DB=pantry
POSTGRES_PASSWORD=
DOMAIN=pantry.davidecasadei.com
NODE_ENV=production
BETTER_AUTH_SECRET=fake-value-at-least-16-chars
