POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=55432
POSTGRES_USER=pantry
POSTGRES_DB=pantry
POSTGRES_PASSWORD=
DOMAIN=pantry.davidecasadei.com
NODE_ENV=production
BETTER_AUTH_SECRET=valore-finto-almeno-16-caratteri
